<div id="kit_builder__disclaimer" class="kit_builder__disclaimer">
    <h3>{{ block.settings.disclaimer_heading }}</h3>
    <p>
        <strong>{{ block.settings.disclaimer_note_label }}</strong> {{ block.settings.disclaimer_text }}
    </p>
</div>